body {
    background-color: #ffffff;/*#ffffcc;/*F8EBE4*/
}

a{
    text-decoration: none;
    color: #05526B;
    cursor: pointer;
}

a:hover{
    color: red;
    cursor: pointer;
}
/*
******************* HEADER
*/
#header{
   margin: 0 auto;
   height: 80px;
   background-color: lightblue;
   text-align: center;
}
#logo{
    display: inline-block;
    height: 80px;
    width: 600px;
    position: relative;
}
#logo img{
    position: absolute;
    top:-5px;
    left: 0;
}
#logo>h1{
    display: inline-block;
    position: absolute;
    right: 50px;
    font-size: 260%;
    margin: 15px;
    color:#05526B;
}
#topMenu{
    position: absolute;
    right: 20px;
    top: 75px;
    display: inline;/*-block;*/
    margin: 0 auto;
    height: 30px;
    /*border: 1px solid blue;*/
}
#topMenu ul li a{
    color:white;
     -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
    margin: 0;
}
#topMenu ul li a:hover{
    color:#05526B;
    background: lightblue;    
}

#topMenu ul li:hover{
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    background: lightblue;
    color:#05526B;
}
#header ul{
    display: inline;/*-block;*/
    text-align: right;
    padding: 0;    
}

#header ul li{
    display: inline-block;
    margin: 1px;
    padding: 3px 5px;
    background-color: #05526B;
    color: #fff;
    font-size: 80%;
}

#centerContent{
    width: 800px;
    margin: 0 auto;
    padding: 0;
    background-color: white;    
    /*border:1px solid lightgray;*/
}
/*
******************* LOGIN p
*/
.pLeft{
   display:inline-block;
   width: 385px;
   text-align: left;
}
.pRight{
   display:inline-block;
   width: 385px;
   text-align: right;   
}
.pLongRight{
   display:inline-block;
   width: 770px;
   text-align: right;   
}
/*
******************* INDEX.HTML.TWIG
*/

#loginBlock{
   display: inline;/*-block; */
}

#loginBlock>p{
   /*text-align: right;*/
   margin: 0;
}

#content{
    border:1px solid lightgray;
    margin: 15px 0;
    padding:10px;
}

#content h1{
    text-align: center;
}

/*
* INDEX select form
*/
#selectForm p{
    display: inline-block;
    color: #05526B;
    width: 90px;
    
}
#selectForm input{
    width: 170px;
}
input[type=submit] {
    width: 200px;
    height: 30px;
    margin-left: 95px;
    padding:5px 15px; 
    background:lightblue; 
    color: #05526B; 
   
    border:1px solid black;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
     -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
}
input[type=submit]:hover {     
     background:#05526B; 
    color: white;
     -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
}

#errorList ul li{
    color: red;
}
.select_join {
  width: 170px;
  height: 28px;
  overflow: hidden;
  background:  #FEFEFE;
  border: 1px solid lightblue;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px 0px 10px 1px #FEFEFE;
  box-shadow: inset 0px 0px 10px 1px #FEFEFE;
}
.select_join select {
  background: transparent;
  width: 170px;
  font-size:7pt;
  color:grey;
  border: 0;
  border-radius: 0;
  height: 28px;
  -webkit-appearance: none;
}
.select_join select:focus {
  outline: none;
}
/*
******************* SELECTED_DESTINATION form
*/
#bookingForm {
    width: 780px;
    padding: 20px;    
}
#bookingForm h2{
    text-align: center;
    font-weight: bold;
}

/*
******************* SELECTED_DESTINATION form
*/
#SelectedBuses {
    width: 780px; 
}

#SelectedBuses th{
    background-color: #05526B;
    color: white;
    height: 30px;
}

#SelectedBuses td{    
   text-align: center;
   padding: 10px 0;
   border-bottom: 1px lightblue dotted;
}
/*
******************* FOOTER
*/
#footer{
   margin: 0 auto;
   height: 40px;
   background-color: lightblue;
   text-align: center;
   padding-top: 15px;
}

/*
******************* LOGIN PAGE

#divLoginFacebook{
    display: inline-block;
    height: 10px;
    width: 10px;
    position: relative;
}
#divLoginFacebook img{
    position: absolute;
    top:-5px;
    left: 0;
}
*/
#divLogin {
    border: 1px solid red;
    margin: 0 auto;
    padding: 0;
 
}

#loginForm p, #registerForm p{
    display: inline-block;
    color: #05526B;
    width: 90px;
    
}
#loginForm input, #registerForm input{
    width: 250px;
    height: 25px;
}

#loginForm label, #registerForm label{
    font-weight: bold;
    height: 25px;
    width:200px;
    display: inline-block;
}

#errorList ul li{
    color: red;
}

.btnLogIn, .btnRegister {
    background-color: #3385ff;
    border-radius: 8px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
}

.btnLogIn:hover {background-color: #0047b3}

.btnFb {
    background-color: #0047b3;
    border-radius: 6px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    width: 250px;
    height: 40px;
}

.btnFb:hover {background-color: #002966}

/*
*************  seats
*/
#holder{    
    height:170px;
    width:730px;
    border:1px solid #A4A4A4;
    background-color:#F5F5F5;
    
    margin-left:10px;  
    padding: 10px;
    float: left;
}
#contentSelectedBus h2{ 
    margin: 10px;
    text-align: center;
    color: #05526B;
}
#place {
    position:relative;
    margin:7px;
}
#place a{
    font-size:0.6em;
}
#place li
{
    list-style: none outside none;
    position: absolute;   
}    
#place li:hover
{
    border: 1px solid red; 
} 
#place .seat{
    background:url("images/available_seat_img.png") no-repeat scroll 0 0 transparent;
    height:33px;
    width:33px;
    display:block;   
}
#place .selectedSeat
{ 
    background-image:url("images/booked_seat_img.png");          
}
#place .selectingSeat
{ 
    background-image:url("images/selected_seat_img.png");        
}
#place .row-3, #place .row-4{
    margin-top:10px;
}
#seatDescription li{
   /* verticle-align:middle;*/    
    list-style: none outside none;
    padding-left:35px;
    height:35px;
    float:left;
}
#infoChoiceSeats{
    border: 1px solid grey;
    display: inline-block;
    width: 200px;
    height:190px;
    float: right;
}
#infoChoiceSeats h3{
    margin: 5px;
    text-align: center;
    color: #05526B;
}