{% extends "master.html.twig" %}

{% block title %}TORS{% endblock %}

{% block head %}
<script
    src="http://maps.googleapis.com/maps/api/js">
</script>

<script>
    function initialize(){
        var mapProp = {
            center: new google.maps.LatLng(45.40618171,-73.9419105),
            zoom:15,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
    var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
    };
google.maps.event.addDomListener(window, 'load', initialize);  
</script> 
{% endblock %} 
{% block login %}
<h2>About as information</h2>
<p class="pLongRight"><a href="/">HOME </a></p>
<hr/>
{% endblock %}    
{% block content %}
<div id="menuForm"> 
<h3>Office our company location "John Abbott College"</h3>
    <div id="googleMap" style="width:740px;height:550px;"></div>
<h3>Company name "Ticket Online Registration Service"</h3>
<p>John Abbott IPD8 course team:</p> 
<p><img src="/images/guy2.jpg" alt="photo Nazar" height="150">    Nazar Golyanskiy<img src="/images/guy1.jpg" alt="photo Valeriy" height="150">    Valeriy Hohin</p> 
</div>    
{% endblock %}
