{% extends "master.html.twig" %}

{% block title %}TORS{% endblock %}

{% block head %}
<script> 
</script> 
{% endblock %} 
{% block login %}
<h2>Contact information</h2>
<p class="pLongRight"><a href="/">HOME </a></p>
<hr/>
{% endblock %}         
{% block content %}
<div id="menuForm">  
    
    
    
</div>    
{% endblock %}
