{% extends "master.html.twig" %}

{% block title %}TORS{% endblock %}

{% block head %}
<script> 
</script> 
{% endblock %} 
{% block login %}
<h2>Contact information</h2>
<p class="pLongRight"><a href="/">HOME </a></p>
<hr/>
{% endblock %}         
{% block content %}
<div id="menuForm">  
<h3>Phone numbers:</h3>
<p>----------------------------------------------------</p>
<p> - Nazar Golyanskiy</p>
<p>(514)-732-0726 - Valeriy Hohin</p> 
<hr/>
<h3>Emails:</h3>
<p>----------------------------------------------------</p>
<p> - Nazar Golyanskiy</p>
<p>vhohin@gmail.com - Valeriy Hohin</p>     
</div>    
{% endblock %}
