{# WARNING: this template is for an email, not an HTML page #}

<html>
    <body>
        <h1>Password reset request</h1>
        <p>Hi {{email}}</p>
        <p>It seems you forgot your password. No worries! </p>
        <p> Simply click on <a href="{{url}}">this link</a> to reset your password
            or paste the following URL into a web browser</p>
        <p>{{url}}</p>
        <p>If you did not ask to change your password, please ignore this message 
            or let us know if you think this is suspicious. The link will expire in 5 hours.<p>

        <p>Cheers,<br>
            <i>The Friendly TORS Crew</i></p>
    </body>
</html>
