{% extends "master.html.twig" %}

{% block title %}TORS{% endblock %}
{% block head %}
<script>  

$(document).ready(function () {
    $("#slide2").hide(); 
    $("#slide3").hide(); 
    $("#slide4").hide(); 
    $("#slide5").hide(); 
    $("#slide6").hide(); 
    $("#slide7").hide(); 
    $("#slide8").hide();     
});    
</script> 
{% endblock %}
{% block login %}
<h2>Order steps information</h2>
<p class="pLongRight"><a href="/">HOME </a></p>
<hr/>
{% endblock %}        
{% block content %}
<div id="menuForm">  
    <div id="slide1">
    <h3>1. Select your depart and arrive places on HOME page:</h3> 
    <img src="/images/step1.JPG" alt="help step 1" width="740"><br/><br/>
    <button id="next2">NEXT</button>    
    </div>
    
    <div id="slide2">
    <h3>2. Select your depart and arrive dates on HOME page and press CONTINUE:</h3> 
    <img src="/images/step2.JPG" alt="help step 1" width="740"><br/><br/>
    <button id="prev1">PREV</button><button id="next3">NEXT</button>     
    </div>
    
    <div id="slide3">
    <h3>3. Press Select to seats selections:</h3> 
    <img src="/images/step3.JPG" alt="help step 1" width="740"><br/><br/>    
    <button id="prev2">PREV</button><button id="next4">NEXT</button>    
    </div>
    
    <div id="slide4">
    <h3>4. Select seats that you prefere and press Booking:</h3> 
    <img src="/images/step4.JPG" alt="help step 1" width="740"><br/><br/>    
    <button id="prev3">PREV</button><button id="next5">NEXT</button>    
    </div>
    
    <div id="slide5">
    <h3>5. If you not logined you have to login for booking tickets or Press Sign up to register:</h3> 
    <img src="/images/step_l.JPG" alt="help step 1" width="740"><br/><br/>    
    <button id="prev4">PREV</button><button id="next6">NEXT</button>    
    </div>
    
    <div id="slide6">
    <h3>6. If you not registered you have to register and repeat previous step to login:</h3> 
    <img src="/images/step_r.JPG" alt="help step 1" width="740"><br/><br/>    
    <button id="prev5">PREV</button><button id="next7">NEXT</button>    
    </div>
    
    <div id="slide7">
    <h3>7. After login you have to press Continue to look result your selection:</h3> 
    <img src="/images/step_c.JPG" alt="help step 1" width="740"><br/><br/>    
    <button id="prev5">PREV</button><button id="next7">NEXT</button>    
    </div>
    
    <div id="slide8">
    <h3>8. Last step - press Paypal payment to pay or Cansel to refuse your selection:</h3> 
    <img src="/images/step_b.JPG" alt="help step 1" width="740"><br/><br/>    
    <button id="prev5">PREV</button>
    </div>
    
</div>    
{% endblock %}    
