{% extends "master.html.twig" %}

{% block title %}TORS{% endblock %}
        
{% block content %}    
    
    {% if currentUser %}
        <p>Hello {{currentUser}}, you can <a href="/logout">Logout</a></p>
    {% else %}
        <p>You are not logined. You can <a href="/login">Login</a> or <a href="/register">Register</a></p>       
    {% endif %}
    
    
{% endblock %}
