<?php session_start(); ?>
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{% block head %}{% endblock %}
    </head>
    <body>
        <div id="header">
            <div id="logo">
                <img src="/images/ticket5.png"  alt="Logo">
                <h1>Reservation Service</h1>
            </div>            
            <div id="topMenu">
                <ul>
                    <li><a href="" >HELP</a></li>
                    <li><a href="" >CONTACT AS</a></li>
                    <li><a href="" >ABOUT AS</a></li>
                </ul>
            </div>
        </div>   
        <div id="centerContent">
             
<div id="content">
    <div id="loginBlock">{% block login %}{% endblock %}</div>    
{% block content %}{% endblock %}
 </div>
            
        </div>
        <div id="footer">                
            &copy; Copyright 2016 by <a href="/">TORS</a>.                
        </div>
    </body>
</html>
