{% extends "master.html.twig" %}

{% block title %}{% endblock %}

{% block content %}
    
<h1>An email has been sent to you. Please check your inbox </h1>

<a href="/">Click to continue</a>

{% endblock %}