{% extends "master.html.twig" %}

{% block title %}Password reset form{% endblock %}


{% block head %}
   
    <style>
        .message{
            color: red;
            
        }
    </style>
{% endblock %}

{% block content %}
    <div id="divPasswordReminder">
        <h2 style="font-family: sans-serif;">Password reset</h2><br><br>
        <p>Please enter new password</p>


        {% if errorList %}
            <ul>
                {% for error in errorList %}
                    <li class="message">{{ error }}</li>
                    {% endfor %}
            </ul>
        {% endif %}

        <form method="post" id="registerForm">


            <label for="pass1">Password: </label> <br> 
            <input type="password"  placeholder="Password" name="pass1"><br><br>

            <label for="pass1">Re-type Password: </label> <br> 
            <input type="password" placeholder="Password" name="pass2"><br><br>


            <input type="submit" value="Reset" name="btnSubmit"><br><br>
        </form>


    </div>

{% endblock %} 
