{% extends "master.html.twig" %}

{% block title %}Forget Password{% endblock %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        
        function checkEmail() {
            var email = $('input[name=email]').val();
            if (email != '') {
                //$('#result').load('/emailexists/' + email);
                // NOTE: .load is actually .ajax call like below
                $.ajax({
                    url: '/emailexists/' + email
                }).done(function (data) {
                    $("#result").html(data);
                });                
            } else {
                $('#result').html("");
            }
        }
        
        $(document).ready(function() {
            $('input[name=email]').keyup(function() {
                checkEmail();
            });
            $('input[name=email]').bind('paste', function() {
                checkEmail();
            });
        });

    </script>

    <style>
        .message{
            color: red;
            
        }
    </style>
{% endblock %}

{% block content %}
    <div id="divLogin">
        <h2>Password reminder</h2>
        <p>Please enter the email address associated with your account.<br>
            We'll send you an email with your password.</p>


        {% if errorList %}
            <ul>
                {% for error in errorList %}
                    <li>{{ error }}</li>
                    {% endfor %}
            </ul>
        {% endif %}

        <form method="post" id="forgetForm">
            <label for="loginEmail">Email Address</label><br>
            <input type="text" name="email" style="font-size:1em;" placeholder="Email your email address"><br><br>
            <!-- <span id="result" style="color:red" >Email does not exist.</span><br> -->
            <input type="submit" name="btnSubmit" value=" Send ">
        </form>



    </div>

{% endblock %} 
