{# empty Twig template #}

{% extends "master.html.twig"%}

{% block title %}Password reset{% endblock %}



{% block content %}
    <div id="divPasswordReminder">
        <h2 style="font-family: sans-serif;">Password reset - email sent</h2>
        
        <p>An email has been sent to you. Please check your inbox and follow the instructions to reset your password.</p><br><br>

        <a href="/">Click here to continue</a>


    </div>

{% endblock %}

