{# empty Twig template #}

{% extends "master.html.twig"%}

{% block title %}TORS payment{% endblock %}

{% block content %}

    <p>Payment result</p>
    <a href="/"> Continue</a>

{% endblock %}


