{# empty Twig template #}

{% extends "master.html.twig"%}

{% block title %}Successful registration{% endblock %}

{% block content %}

    <p>New user {{userName}} was registered succesfully</p>
    <a href="/login"> Click to login </a>


{% endblock %}
