{% extends "master.html.twig"%}

{% block title %}Register user{% endblock %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        $(document).ready(function (){
          $('input[name=email]').keyup(function(){
            $('#result').load('/emailexists/' + $(this).val()); 
              
          });  
        });

    </script>

    <style>
        #message{
            color: red;
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Register user</h1>

    {% if errorList %}
        <ul>
            {% for error in errorList %}
                <li>{{error}}</li>
                {% endfor %}   
        </ul>

    {% endif %}
    <form method="post">
        <label for="name">Name:</label> 
        <input type="text" name="name" value="{{v.name}}"<br><br><br>

        <label for="email"> Email: </label> 
        <input type="text" name="email" value="{{v.email}}">
        <span id="result"></span><br><br>

        <label for="pass1">Password: </label> 
        <input type="password" name="pass1"><br><br>

        <label for="pass1">Password (repeated): </label> 
        <input type="password" name="pass2"><br><br>

        <input type="submit" value="Register"><br><br>
    </form>



{% endblock %}